<template>    
        <div class="container">
            <!-- Control bar -->
            <section id="test" style="position:relative;z-index:1">
                <!-- Sidebar list -->
                <div class="row">
                    <div class="col-9">
                        <div>
                            <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow>
                            <template v-slot:default="{ hide }">
                                <div class="list-group">
                                    <div
                                        class="list-group-item"
                                        v-for="(place, index) in places"
                                        :key="place.id"
                                        @click="showInfoWindow(index)"
                                        :class="{'active' : activeIndex === index}"
                                        style="padding:10px;"
                                    >
                                        <div class="content">
                                        <div class="header">{{place.name}}</div>
                                        <div class="meta">{{place.vicinity}}</div>
                                        <div class="meta">{{place.location}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <div
                                        class="list-group-item"
                                        v-for="(log, index) in logs"
                                        :key="log.id"
                                        @click="showInfoWindow(index)"
                                        :class="{'active' : activeIndex === index}"
                                        style="padding:10px;"
                                    >
                                        <div class="content">
                                        <div class="header">{{log.id}}</div>
                                        <div class="meta">{{log.location}}</div>
                                        </div>
                                    </div>
                                </div>
                                <b-button variant="primary" block @click="hide">Close Sidebar</b-button>
                            </template>
                            </b-sidebar>
                        </div>
                        <b-form-group>
                            <input 
                            class="form-control"
                            type="text"
                            placeholder="Input location"
                            v-model="address"
                            ref="autocomplete"
                            />
                        </b-form-group>
                    </div>
                    <div class="col-3">
                        <b-form-group>
                            <button type="button" class="btn btn-primary btn-block" @click="currentLocationPressed">Current</button>
                        </b-form-group>
                    </div>
                </div>
                
                <!-- criteria search -->
                <div class="row">
                    <div class="col-9">
                        <b-form-group id="input-group-3" label="" label-for="input-3">
                            <div class="field">
                                <div class="field">
                                    <select class="form-control" v-model="radius">
                                    <option value="2">2KM</option>
                                    <option value="5">5KM</option>
                                    <option value="10">10KM</option>
                                    <option value="15">15KM</option>
                                    <option value="20">20KM</option>
                                    </select>
                                </div> 
                            </div>
                        </b-form-group> 
                    </div>
                    <div class="col-3">
                        <b-form-group id="input-group-3" label="" label-for="input-3">
                            <button type="button" class="btn btn-primary btn-block" @click="findButtonPressed">Search</button>  
                        </b-form-group> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <b-form-group>
                            <b-button v-b-toggle.sidebar-no-header class="btn btn-primary btn-block" >List</b-button>
                        </b-form-group> 
                    </div>
                    <div class="col-3">
                        <b-form-group id="input-group-3" label="" label-for="input-3">
                            <button type="button" class="btn btn-primary btn-block" @click="getSearchLogs">Laravel logs</button>  
                        </b-form-group> 
                    </div>
                </div>
             </section>
              <!-- Google map -->
             <section class="" id="map" ref="map"></section>
        </div>
   
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      address: "Bang Sue, Bangkok, Thailand",
      error: "",
      spinner: false,
      apiKey: "AIzaSyAesP4a4HSdxVBPC3guhRWaXd6mJQUgDTk",
      lat: 0,
      lng: 0,
      type: "restaurant",
      radius: 10,
      places: [],
      logs: [],
      markers: [],
      activeIndex: -1
    };
  },

  mounted() {
    // Init Bang sue //
    this.showLocationOnTheMap(13.8283, 100.5285)
    this.findButtonPressed(13.8283, 100.5285)

    // Auto Complete use place api// 
    var autocomplete = new google.maps.places.Autocomplete(
      this.$refs["autocomplete"],
      {
        bounds: new google.maps.LatLngBounds(
          new google.maps.LatLng(13.8283, 100.5285)
        ),
      }
    );

    /// Event change search ///
    autocomplete.addListener("place_changed", () => {
        var place = autocomplete.getPlace();
        /// Save saerch logs ////
        axios({
            method: 'post',
            url: 'http://127.0.0.1:8000/api/search_logs',
            data: {
                location: this.address
            }
        });

        // Get restaurant list
        this.showLocationOnTheMap(
        place.geometry.location.lat(),
        place.geometry.location.lng()
        );
    });
  },

  methods: {
    /// Get Current location ///
    currentLocationPressed() {
      this.spinner = true;

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          position => {
            this.lat = position.coords.latitude;
            this.lng = position.coords.longitude;
            // console.log(position.coords.latitude + " " + position.coords.longitude)
            this.getAddressFrom(
              position.coords.latitude,
              position.coords.longitude
            );

            // Gen Rester
            this.showLocationOnTheMap(
              position.coords.latitude,
              position.coords.longitude
            );
          },
          error => {
            this.error =
              "Locator is unable to find your address. Please type your address manually.";
    
            // console.log(error.message);
          }
        );
      } else {
        this.error = error.message;

        // console.log("Your browser does not support geolocation API ");
      }
    },
    // Get current location //
    getAddressFrom(lat, long) {
      axios
        .get(
          "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
            lat +
            "," +
            long +
            "&key=" +
            this.apiKey
        )
        .then(response => {
          if (response.data.error_message) {
            this.error = response.data.error_message;
          } else {
            this.address = response.data.results[0].formatted_address;
          }
    
        })
        .catch(error => {
          this.error = error.message;
        });
    },

    showLocationOnTheMap(latitude, longitude) {
      // Show & center the Map based oon
      var map = new google.maps.Map(this.$refs["map"], {
        zoom: 15,
        center: new google.maps.LatLng(latitude, longitude),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
      });

      new google.maps.Marker({
        position: new google.maps.LatLng(latitude, longitude),
        map: map,
      });

    },
    /// Search Button ///
    findButtonPressed(latitude, longitude) {
        this.logs = []
        if (this.lat === 0) {
            this.lat = latitude
        }
        if (this.lng === 0) {
            this.lng = longitude
        }
        // const URL = `https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${
        const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${
            this.lat
        },${this.lng}&type=${this.type}&radius=${this.radius * 1000}&key=${
            this.apiKey
        }`;
        axios
        .get(URL)
        .then(response => {
            this.places = response.data.results;
            this.showPlacesOnMap();
        })
        .catch(error => {
          this.error = error.message;
    
        });
    },
    /// Show place in map /// 
    showPlacesOnMap() {
      this.markers = []
      const map = new google.maps.Map(this.$refs["map"], {
        zoom: 13,
        center: new google.maps.LatLng(this.lat, this.lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      const infoWindow = new google.maps.InfoWindow();

      for (let i = 0; i < this.places.length; i++) {
        const lat = this.places[i].geometry.location.lat;
        const lng = this.places[i].geometry.location.lng;
        const placeID = this.places[i].place_id;

        const marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, lng),
          map: map
        });

        this.markers.push(marker);

        google.maps.event.addListener(marker, "click", () => {
          const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/details/json?key=${this.apiKey}&place_id=${placeID}`;
        // const URL = `https://maps.googleapis.com/maps/api/place/details/json?key=${this.apiKey}&place_id=${placeID}`;

          axios
            .get(URL)
            .then(response => {
              if (response.data.error_message) {
                this.error = response.data.error_message;
              } else {
                const place = response.data.result;

                infoWindow.setContent(
                  `<div class="ui header">${place.name}</div>
                  ${place.formatted_address} <br>
                  ${place.formatted_phone_number} <br>
                  <a href="${place.website}" target="_blank">${place.website}</a>
                  
                  
                  `
                );
                infoWindow.open(map, marker);
              }
            })
            .catch(error => {
              this.error = error.message;
            });
        });
      }
    },

    /// Show detail location ///
    showInfoWindow(index) {   
      this.activeIndex = index;
      new google.maps.event.trigger(this.markers[index], "click");
    },

    /// Get search logs ///
    getSearchLogs() {
        this.places = []
        axios
        .get('http://127.0.0.1:8000/api/search_logs')
        .then(response => {
            this.logs = response.data;
        })
        .catch(error => {
          this.error = error.message;
        });
    }
  }
};
</script>
<style scoped>
    #map {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
</style>>
